.button-bookmark-false{
    -fx-background-image: url('../icons/favourite.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 27;
    -fx-padding: 5;
}
.button-bookmark-true{
    -fx-background-image: url('../icons/favouritePressed.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 27;
    -fx-padding: 5;
}
.button-edit{
    -fx-background-image: url('../icons/edit.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 27;
}
.button-delete{
    -fx-background-image: url('../icons/remove.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 27;
}
.button-speaker{
     -fx-background-image: url('../icons/speak.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
     -fx-background-size: 27;
 }
 .button-EV{
     -fx-background-image: url('../icons/eng-viet.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
     -fx-background-size: 27;
 }
 .button-VE{
     -fx-background-image: url('../icons/viet-eng.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
     -fx-background-size: 27;
 }

.button-save {
    -fx-graphic: url('../icons/save.png');
}